/*
Error: Invalid CSS after "<": expected "{", was "!DOCTYPE html>"
        on line 1 of /home/constantine/Documents/CSS/GITHUB/index.html

1: <!DOCTYPE html>
2: <html lang="en" dir="ltr">
3:   <head>
4:     <meta charset="utf-8">
5:     <title>Costas Hub</title>
6:     <!-- <link rel="stylesheet" href="styles.css"> -->

Backtrace:
/home/constantine/Documents/CSS/GITHUB/index.html:1
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1308:in `expected'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1238:in `expected'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1233:in `tok!'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:688:in `block'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:681:in `ruleset'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:707:in `block_child'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:697:in `block_contents'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:41:in `parse'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:414:in `_to_tree'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:387:in `run'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
/home/constantine/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.3/bin/sass:13:in `<top (required)>'
/home/constantine/.rbenv/versions/2.5.1/bin/sass:23:in `load'
/home/constantine/.rbenv/versions/2.5.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"<\": expected \"{\", was \"!DOCTYPE html>\"\A         on line 1 of /home/constantine/Documents/CSS/GITHUB/index.html\A \A 1: <!DOCTYPE html>\A 2: <html lang=\"en\" dir=\"ltr\">\A 3:   <head>\A 4:     <meta charset=\"utf-8\">\A 5:     <title>Costas Hub</title>\A 6:     <!-- <link rel=\"stylesheet\" href=\"styles.css\"> -->"; }
